.contenido-about {
    position: relative;
    top: 110px;
    width: 100%;
    height: 650px;
    left: 10px;
}

.contenido-about .img {
    position: absolute;
    width: 70%;
    height: 630px;
    left: 0;
}

.contenido-about img {
    width: 100%;
    height: 630px;
}

.contenido-about .txt {
    position: absolute;
    background: #fff;
    width: 30%;
    height: 630px;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.contenido-about .txt .titulo {
    font-size-adjust: auto;
    padding: 20px;
    padding-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #BC1A1A;
}

.contenido-about .txt .contenido {
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #ffffff;
    background: rgba(199, 0, 0, .8);
}

.contenido-about .txt .contenido p {
    font-family: 'Montserrat', sans-serif;
    font-size-adjust: auto;
    color: #fff;
    text-align: justify;
}

.contenido-about .txt .contenido ul {
    position: relative;
    top: -10px;
    width: 50%;
}

.contenido-about .txt .contenido span {
    position: absolute;
    color: #fff;
    padding-left: 20px;
}

.contenido-about .txt .contenido i {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size-adjust: auto;
    color: #fff;
    text-align: justify;
    padding-left: 50px;
    padding-bottom: 10px;
}

.contenido-about #ex{
    font-style: italic;
    font-weight: bold;
}

