.contenido-contact {
    position: relative;
    top: 100px;
    width: 100%;
    height: 630px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/img-contacto-fondo.jpg);
}

/*Formulario*/

:focus{
    outline: none;
}

.form_wrap {
    width: 1050px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/*Formulario de Contacto*/

form.form-contact{
    width: 100%;
    padding: 30px 40px;
}

form.form-contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #1A7BBC;
    margin-bottom: 30px;
}

table{
    width: 100%;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

table th {
    padding: 15px;
    text-align: left;
    background-color: #1A7BBC;
    color: white;
}

table td {
    padding: 10px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

table tr:nth-child(odd) {
   background-color: #fff;
}