* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', 'sans-serif';
    background: #fff;
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    padding: 0px;
    background: #1A7BBC;
    z-index: 3;
}

header img {
    width: 200px;
    height: 100px;
    padding: 0;
    margin: 0;
}

header a {
    position: relative;
    background: #fff;
    padding: 10px;
    margin: 0;
    left: 1010px;
    bottom: 60px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #1A7BBC;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-style: solid;
}

.Contenido span {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 100px;
}

.Contenido span img {
    width: 100%;
    height: 630px;

}

.Contenido .Div-Text {
    position: absolute;
    height: 30%;
    top: 450px;
    left: 150px;
    right: 150px;
    padding: 0px 0px;
    background: rgba(26, 123, 188, .6);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.Contenido .Div-Text h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 0px 0px 20px;
}

.Contenido .Div-Text p {
    font-size: 26px;
    text-align: center;
    padding: 0px 0px;
}

footer {
    margin-left: 0px;
    position: absolute;
    top: 730px;
    width: 100%;
    height: 250px;
    transition: margin-left .6s;
    background: #1A7BBC;
    text-align: center;
}

footer li {
    position: relative;
    padding: 10px;
    list-style: none;
    text-align: left;
    left: 30px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}

footer .conocenos {
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 3px solid #fff;
    position: absolute;
    display: inline-block;
    width: 350px;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

footer div{
    width: 30%;
}

footer .conocenos a{
    font-weight: lighter;;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    
}

footer .conocenos li{
    font-weight: bold;
    padding-left: 40px;
    width: 30%;
}

.conocenos #home, #nosotros, #servicios, #desarrolladores{
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
    padding-left: 30px;
}

footer .contactanos {
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 3px solid #fff;
    position: absolute;
    display: inline-block;
    width: 350px;
    top: 10px;
    left: 600px;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.contactanos #correo {
    font-weight: lighter;
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
}

.contactanos #phone {
    font-weight: lighter;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f095';
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
}

.contactanos #whatsapp {
    font-weight: lighter;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
}

.contactanos #web {
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
}

footer .redes {
    border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    border: 3px solid #fff;
    position: absolute;
    display: inline-block;
    width: 350px;
    top: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
}

footer .redes a{
    font-weight: lighter;;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    
}

footer .redes li{
    font-weight: bold;
    padding-left: 40px;
    width: 30%;
}

.redes #youtube, #facebook, #twitter, #instagram{
    position: absolute;
    display: inline-block;
    left: 0;
    padding: 10px;
    padding-left: 30px;
}
