.Contenido-Services {
    position: relative;
    top: 100px;
    width: 100%;
    left: 0px;
    background: #585858;
}

.divimg {
    width: 49.5%;
    height: 315px;
    display: inline-block;
    margin: 2px;
}

.divimg img {
    position: absolute;
    width: 49.5%;
    height: 315px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 2px solid #fff;
}

.Contenido-Services p {
    position: relative;
    width: 70%;
    height: 20%;
    left: 25%;
    top: 70%;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: rgba(188, 26, 26, .8);
}
