.contenido-head {
    position: relative;
    top: 100px;
    width: 100%;
    height: 630px;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/img-contacto-fondo.jpg);
}

/*Formulario*/

:focus{
    outline: none;
}

.form_wrap {
    width: 500px;
    height: 430px;
    margin: 50px auto;
    display: flex;
    
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

/*Formulario de Contacto*/

form.form-contact{
    width: 100%;
    padding: 30px 40px;
}

form.form-contact h2{
    font-size: 25px;
    font-weight: 600;
    color: #1A7BBC;
    margin-bottom: 30px;
}

form.form-contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form-contact label{
    font-weight: 600;
    padding-top: 20px;
}

form.form-contact input, form.form-contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 30px;
    
    border: none;
    border-bottom: 2px solid #1A7BBC;
    
    font-family: 'Montserrat', sans-serif;
    color: #5A5A5A;
    font-size: 14px;
    font-weight: 400;   
}

form.form-contact textarea{
    max-width: 100%;
    min-width: 100%;
    height: 80px;
    max-height: 100px;
}

form.form-contact input[type="button"]{
    width: 180px;
    background: #1A7BBC;
    padding: 10PX;
    border: none;
    border-radius: 25px;
    
    align-self: flex-end;
    
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form-contact input[type="button"]:hover{
    background: #0B5587;
}